@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hk-grotesk/HKGrotesk-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
        padding-left: 1em;
        padding-top: .5em;
    }